<!-- agreements/templates/agreements/list.html -->
{% extends "admin/base_site.html" %}
{% block content %}
<h1>PDF协议列表</h1>
<table>
  <tr>
    <th>File Name</th>
    <th>Borrower Name</th>
    <th>Date</th>
    <th>Facility Amount</th>
    <th>Status</th>
  </tr>
  {% for agreement in agreements %}
  <tr>
    <td>{{ agreement.file_name }}</td>
    <td>{{ agreement.borrower_name }}</td>
    <td>{{ agreement.agreement_date }}</td>
    <td>{{ agreement.facility_amount }}</td>
    <td>{{ agreement.get_parsing_status_display }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
